@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Talento Plus</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body class="bg-light">
    <div class="container-fluid min-vh-100">
        <div class="row flex-nowrap">

            <aside class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark d-flex flex-column min-vh-100">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <span class="fs-5 d-none d-sm-inline">Menú Admin</span>
                    </a>

                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                        <li class="nav-item">
                            <a href="/Admin/Dashboard" class="nav-link px-0 align-middle text-white">
                                <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span>
                            </a>
                        </li>


                        <li class="w-100">
                            <a href="/Admin/Employees" class="nav-link px-0 text-white"> <span class="d-none d-sm-inline">Gestión de Empleados</span></a>
                        </li>

                    </ul>
                </div>
            </aside>
            <main class="col py-4">
                <div class="container">
                    @RenderBody()
                </div>
            </main>
        </div>
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
