@page
@model AdminManager.Web.Pages.Excel.ImportModel

<h2>Importar datos desde Excel</h2>

<form method="post" enctype="multipart/form-data">
    <input type="file" name="ExcelFile" required class="form-control" />
    <button class="btn btn-success mt-3">Importar</button>
</form>
